@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #030a1b;
}

.blue-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2e6eff;
  color: #ffffff;
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 14px;
  line-height: 24px;
  transition: all 0.3s;
}
.blue-btn .icon {
  width: 12.04px;
  height: 12.26px;
  margin-right: 10.8px;
}
.blue-btn:hover {
  background: #fe753f;
}

@media screen and (min-width: 1200px) {
  .blue-btn {
    padding: 15px 30px;
    font-size: 16px;
    line-height: 24px;
  }
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0;
  }
}
.header .container {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__logo {
  max-width: 250px;
  max-height: 65px;
  width: 35%;
  height: 35%;
}
.header__logo .logo {
  width: 100%;
}
.header__open-menu {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: rgba(254, 117, 63, 0.1);
}
.header__open-menu .icon {
  width: 25px;
  height: 25px;
  fill: #fe753f;
  transition: all 0.3s;
}
.header__open-menu .icon:active {
  pointer-events: none;
}
.header__open-menu .close {
  display: none;
}
.header .active-nav .menu {
  display: none;
}
.header .active-nav .close {
  display: block;
}
.header__navigation {
  position: absolute;
  z-index: 1;
  top: 64px;
  left: 0;
  right: 0;
  background: #ffffff;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease;
  border-bottom: 1px solid rgba(254, 117, 63, 0.5);
}
.header__navigation a {
  width: 100%;
  display: block;
  font-size: 14px;
  line-height: 24px;
  border-top: 1px solid rgba(254, 117, 63, 0.5);
  opacity: 0.7;
  padding: 8px 80px 8px 40px;
}

.active {
  transform: scaleY(1);
}

@media screen and (min-width: 1200px) {
  .header .container {
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 35px;
  }
  .header__logo {
    width: 100%;
    height: 100%;
    margin-right: 309px;
  }
  .header__open-menu {
    display: none;
  }
  .header__navigation {
    display: flex;
    position: unset;
    background: unset;
    transform: unset;
    border-bottom: unset;
    margin-right: 50px;
  }
  .header__navigation div:not(:last-child) {
    margin-right: 50px;
  }
  .header__navigation a {
    display: block;
    font-size: 16px;
    border-top: unset;
    padding: 0;
    transform: all 0.3s;
  }
  .header__navigation a:hover {
    text-shadow: 0 0 0.55px #fe753f, 0 0 0.55px #fe753f;
    color: #fe753f;
  }
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.hero__slogan {
  display: block;
  font-weight: 600;
  font-size: 35px;
  line-height: 120%;
  max-width: 558px;
  margin-bottom: 30px;
}
.hero__description {
  max-width: 558px;
  font-size: 16px;
  line-height: 27px;
  opacity: 0.7;
  margin-bottom: 40px;
}
.hero__right-side {
  display: none;
  width: 100%;
  z-index: -1;
  object-fit: contain;
  position: absolute;
  top: 28%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}

@media screen and (min-width: 1200px) {
  .hero .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .hero__slogan {
    font-size: 61px;
    padding-top: 44px;
  }
  .hero__description {
    font-size: 18px;
  }
  .hero__right-side {
    position: unset;
    display: block;
    max-width: 484px;
    top: 0;
  }
}
.tabs {
  background: #ffffff;
  display: flex;
  justify-content: stretch;
  box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  position: relative;
}
.tabs__title {
  display: block;
  padding: 15px 22px 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  opacity: 0.7;
  cursor: pointer;
}
.tabs__title--active {
  opacity: 1;
  color: #fe753f;
}
.tabs__selection {
  width: 100%;
  display: none;
  position: absolute;
  flex-direction: column;
  padding: 30px;
  left: 0;
  z-index: 1;
  box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.tabs__selection--active {
  display: flex;
}
.tabs__label {
  display: block;
  position: absolute;
  z-index: 1;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.7;
  left: 0;
  top: 0;
  pointer-events: none;
}
.tabs__location-selector {
  min-width: 88px;
}
.tabs__property-selector {
  min-width: 127px;
}
.tabs__price-selector {
  min-width: 155px;
}
.tabs__price-selector::after {
  right: 98px !important;
}
.tabs__search-btn {
  align-self: center;
  padding: 10px 12px;
}

@media screen and (min-width: 340px) {
  .tabs__label {
    font-size: 16px;
  }
}
.nice-select-container {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.nice-select-container:not(:last-of-type)::after {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: " ";
  height: 1px;
  background: rgba(3, 10, 27, 0.1);
}

.nice-select {
  border: unset;
  position: relative;
  height: unset;
  padding-top: 34px;
  padding-left: 0;
  padding-right: 0;
}
.nice-select .current,
.nice-select .option {
  font-size: 16px;
  line-height: 33px;
}

@media screen and (min-width: 1200px) {
  .nice-select .current,
.nice-select .option {
    font-size: 22px;
    line-height: 33px;
  }
}
.nice-select::after {
  top: 13px;
  right: 2px;
  border-right: 1.5px solid #030a1b;
  border-bottom: 1.5px solid #030a1b;
  width: 6px;
  height: 6px;
  opacity: 0.7;
}

@media screen and (min-width: 1200px) {
  .tabs__search-btn {
    align-self: flex-start;
    padding: 15px 20px;
  }
}

/*# sourceMappingURL=style.css.map */
