@import "nullstyle.scss";

$color-black: #030a1b;
$color-blue: #2e6eff;
$color-orange: #fe753f;
$color-orange-opacity: rgba(254, 117, 63, 0.1);
$color-orange-opacity-medium: rgba(254, 117, 63, 0.5);
$color-violet: #433e89;
$color-white: #ffffff;

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: $color-black;
}

.blue-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-blue;
  color: $color-white;
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 14px;
  line-height: 24px;
  transition: all 0.3s;
  .icon {
    width: 12.04px;
    height: 12.26px;
    margin-right: 10.8px;
  }
  &:hover {
    background: $color-orange;
  }
}

@media screen and (min-width: 1200px) {
  .blue-btn {
    padding: 15px 30px;
    font-size: 16px;
    line-height: 24px;
  }
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0;
  }
}

.header {
  .container {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__logo {
    max-width: 250px;
    max-height: 65px;
    width: 35%;
    .logo {
      width: 100%;
    }
  }
  &__open-menu {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: $color-orange-opacity;
    .icon {
      width: 25px;
      height: 25px;
      fill: $color-orange;
      transition: all 0.3s;
      &:active {
        pointer-events: none;
      }
    }
    .close {
      display: none;
    }
  }
  .active-nav {
    .menu {
      display: none;
    }
    .close {
      display: block;
    }
  }
  &__navigation {
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 0;
    right: 0;
    background: $color-white;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
    border-bottom: 1px solid $color-orange-opacity-medium;
    a {
      width: 100%;
      display: block;
      font-size: 14px;
      line-height: 24px;
      border-top: 1px solid $color-orange-opacity-medium;
      opacity: 0.7;
      padding: 8px 80px 8px 40px;
    }
  }
}

.active {
  transform: scaleY(1);
}

@media screen and (min-width: 1200px) {
  .header {
    .container {
      padding-top: 35px;
      padding-bottom: 35px;
      margin-bottom: 35px;
      min-height: 80px;
    }
    &__logo {
      width: 100%;
      margin-right: 309px;
    }
    &__open-menu {
      display: none;
    }
    &__navigation {
      display: flex;
      position: unset;
      background: unset;
      transform: unset;
      border-bottom: unset;
      margin-right: 50px;
      div:not(:last-child) {
        margin-right: 50px;
      }
      a {
        display: block;
        font-size: 16px;
        border-top: unset;
        padding: 0;
        transform: all 0.3s;
        &:hover {
          text-shadow: 0 0 0.55px $color-orange, 0 0 0.55px $color-orange;
          color: $color-orange;
        }
      }
    }
  }
}

.hero {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
  }
  &__slogan {
    display: block;
    font-weight: 600;
    font-size: 35px;
    line-height: 120%;
    max-width: 558px;
    margin-bottom: 30px;
  }
  &__description {
    max-width: 558px;
    font-size: 16px;
    line-height: 27px;
    opacity: 0.7;
    margin-bottom: 40px;
  }
  &__right-side {
    display: none;
    width: 100%;
    z-index: -1;
    object-fit: contain;
    position: absolute;
    top: 28%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      min-height: 615px;
    }
    &__slogan {
      font-size: 61px;
      padding-top: 44px;
    }
    &__description {
      font-size: 18px;
    }
    &__right-side {
      position: absolute;
      right: 0;
      display: block;
      max-width: 484px;
      object-fit: cover;
      top: 0;
    }
  }
}

.tabs {
  border-radius: 8px;
  padding: 20px 20px 40px;
  background: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__title-container {
    box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    background-color: $color-white;
    display: flex;
    padding: 0 9px;
    border-radius: 5px 5px 0 0;
    width: fit-content;
  }
  &__title {
    display: block;
    padding: 15px 22px 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      opacity: 0.5;
    }
    &--active {
      opacity: 1;
      color: $color-orange;
      &:hover {
        opacity: 1;
      }
    }
  }
  &__elements-container {
    width: 258px;
    box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 5px 5px;
  }
  &__element {
    position: relative;
    display: none;
    flex-direction: column;
    padding: 30px;
    left: 0;
    z-index: 1;
    background: $color-white;
    border-radius: 0 0 5px 5px;
    &--active {
      display: flex;
    }
  }
  &__label {
    display: block;
    position: absolute;
    z-index: 1;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.7;
    left: 0;
    top: 0;
    pointer-events: none;
  }
  &__location-selector {
    width: 88px;
    &::after {
      left: 80px;
    }
  }
  &__property-selector {
    width: 127px;
    &::after {
      left: 119px;
    }
  }
  &__price-selector {
    width: 155px;
    &::after {
      left: 51px;
    }
  }
  &__search-btn {
    align-self: center;
    padding: 10px 12px;
  }
}

@media screen and (min-width: 1200px) {
  .tabs {
    padding: 0;
    background: none;
    border-radius: 5px;
    &__title-container {
      border-radius: 5px 5px 0 0;
      position: relative;
      &::after {
        position: absolute;
        right: -10px;
        bottom: 0;
        content: " ";
        border-radius: 0 0 0 5px;
        width: 10px;
        height: 10px;
        background-color: transparent;
        box-shadow: -3px 3px #fff;
      }
    }
    &__elements-container {
      width: 842px;
      box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
      border-radius: 0 5px 5px 5px;
    }
    &__element {
      border-radius: 0 5px 5px 5px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    &__label {
      font-size: 16px;
    }
    &__search-btn {
      padding: 15px 20px;
    }
  }
}

.nice-select-container {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
  &:not(:last-of-type)::after {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: " ";
    height: 1px;
    background: rgba(3, 10, 27, 0.1);
  }
}

.nice-select {
  border: unset;
  position: relative;
  height: unset;
  padding-top: 34px;
  padding-left: 0;
  padding-right: 0;
  .current,
  .option {
    font-size: 16px;
    line-height: 33px;
  }
  .option {
    padding-top: 4.5px;
    padding-bottom: 4.5px;
  }
  .nice-select-dropdown {
    border: none;
  }
}

.nice-select::after {
  top: 13px;
  border-right: 1.5px solid $color-black;
  border-bottom: 1.5px solid $color-black;
  width: 6px;
  height: 6px;
  opacity: 0.7;
}

@media screen and (min-width: 1200px) {
  .nice-select-container {
    padding-bottom: 0;
    margin-bottom: 0;
    &:not(:last-of-type)::after {
      display: block;
      position: absolute;
      width: 1px;
      top: 10px;
      right: -50px;
      left: unset;
      height: 34px;
      background: rgba(3, 10, 27, 0.1);
    }
  }
  .nice-select {
    .current {
      font-size: 22px;
    }
    .option {
      font-size: 18px;
    }
  }
}

.section-title {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 35px;
  line-height: 66px;
  &__first-letter {
    position: relative;
    font-weight: 600;
    font-size: 35px;
  }
  &__house-img {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 44px;
    &__first-letter {
      font-size: 44px;
    }
  }
}

.partners {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 140px;
  }
  &__title {
    margin-bottom: 65px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__element:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .partners {
    .container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
    &__title {
      align-self: center;
    }
    &__wrapper {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
    }
    &__element:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.orange-span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $color-orange;
  transition: all 0.3s;
}

.properties {
  margin-bottom: 140px;
  .container {
    max-width: 382px;
  }
  &__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }
  &__title {
    text-align: center;
    display: block;
    max-width: 320px;
    margin-bottom: 40px;
    margin-left: 7px;

    span {
      display: inline-block;
    }
  }
  .orange-span:hover {
    text-decoration: underline;
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
  }
}

@media screen and (min-width: 754px) {
  .properties {
    .container {
      max-width: 754px;
    }
    &__title-wrapper {
      flex-direction: row;
      justify-content: space-between;
    }
    &__title {
      max-width: unset;
      margin-bottom: 0;
      span {
        display: inline-block;
      }
    }
    &__content {
      grid-template-columns: 1fr 1fr;
      align-items: stretch;
    }
  }
}
@media screen and (min-width: 1180px) {
  .properties {
    .container {
      max-width: 1150px;
    }
    &__content {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.property-item {
  max-width: 362px;
  box-shadow: 0px 8px 70px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding-bottom: 30px;
  &__image {
    width: 100%;
    object-fit: contain;
    margin-bottom: 30px;
    & ~ div {
      padding: 0 30px;
    }
  }
  &__title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 33px;
  }
  .heart {
    width: 16px;
    height: 14px;
    fill: #bbbbbb;
    cursor: pointer;
    &--red {
      fill: #e61e14;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &__location {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.7;
    margin-bottom: 20px;
    &::before {
      display: inline-block;
      content: url(../img/location.svg);
      width: 11px;
      height: 14.58px;
      margin-right: 10px;
    }
  }
  &__counters {
    display: flex;
    gap: 20px;
    margin-bottom: 26px;
  }

  &__counter {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    opacity: 0.9;
    &:nth-of-type(1) {
      &::before {
        display: block;
        content: url(../img/living-room.svg);
        width: 16.34px;
        height: 17px;
        margin-right: 5.66px;
      }
    }
    &:nth-of-type(2) {
      &::before {
        display: block;
        content: url(../img/kitchen.svg);
        width: 13;
        height: 14.15px;
        margin-right: 5px;
      }
    }
    &:nth-of-type(3) {
      &::before {
        display: block;
        content: url(../img/bathroom.svg);
        width: 14;
        height: 14.37px;
        margin-right: 5px;
      }
    }
  }
  &__price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__price {
    font-weight: 600;
    font-size: 18px;
    line-height: 33px;
    color: $color-orange;
  }
  &__details-btn {
    padding: 10px 20px;
  }
}

@media screen and (min-width: 1200px) {
  .property-item {
    &__title {
      font-size: 22px;
    }
    &__location {
      font-size: 16px;
    }
    &__counter {
      font-size: 14px;
    }
    &__details-btn {
      padding: 10px 20px;
    }
    &__price {
      font-size: 22px;
    }
  }
}

.features {
  background-color: #f9f9f9;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  &__title {
    text-align: center;
    display: block;
    max-width: 320px;
    margin-bottom: 10px;
    margin-left: 7px;

    span {
      display: inline-block;
    }
  }
  &__subtitle {
    max-width: 728px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 70px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  &__item {
    max-width: 362px;
    padding: 25px;
    background: $color-white;
    border-radius: 10px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    background-color: rgba(254, 117, 63, 0.1);
    border-radius: 5px;
    margin-bottom: 15px;
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
  &__name {
    display: block;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 10px;
  }
  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.7;
  }
  &__image img {
    display: block;
    width: 100%;
    max-width: 362;
    border-radius: 10px;
    object-fit: contain;
  }
}

@media screen and (min-width: 754px) {
  .features {
    &__title {
      max-width: unset;
      span {
        display: inline-block;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .features {
    &__content {
      flex-direction: row;
    }
    &__image {
      align-self: flex-end;
    }
  }
}

.reviews {
  .container {
    display: block;
    padding-top: 140px;
    margin-bottom: 140px;
  }
  .orange-span {
    display: block;
    align-self: center;
    text-align: center;
    margin-bottom: 10px;
    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    text-align: center;
    margin: 0 auto;
    display: block;
    max-width: 320px;
    margin-bottom: 70px;
    span {
      display: inline-block;
    }
  }
}

.swiper {
  max-width: 558px;
  &-wrapper {
    margin-bottom: 40px;
  }
  &__item {
    min-height: 260px;
    width: 100%;
    padding: 12px;
    background: $color-white;
    border: 2px solid rgba(254, 117, 63, 0.1);
    border-radius: 10px;
    &:after {
      content: url(../img/quotes.png);
      position: absolute;
      top: 8px;
      right: 10px;
      opacity: 0.1;
    }
  }
  &__first-row {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  &__photo {
    width: 74px;
    height: 74px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 20px;
  }
  &__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 33px;
    margin-bottom: 5px;
  }
  &__position,
  &__review {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.7;
  }
  &-pagination {
    position: unset;
  }
  &-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
  }
}

@media screen and (min-width: 400px) {
  .swiper {
    &__item {
      &:after {
        top: 25px;
        right: 30px;
      }
    }
  }
}
@media screen and (min-width: 754px) {
  .reviews {
    .container {
      display: block;
    }
    &__title {
      max-width: unset;
      span {
        display: inline-block;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .swiper {
    max-width: unset;
    &__item {
      padding: 30px 30px 0;
    }
    &__photo {
      margin-right: 31px;
    }
    &__name {
      font-size: 22px;
    }
    &__position,
    &__review {
      font-size: 16px;
    }
  }
}

.subscribe {
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: $color-violet;
    margin-bottom: 140px;
  }
  &__title {
    text-align: center;
    font-weight: 500;
    color: $color-white;
    margin-bottom: 15px;
  }
  &__description {
    max-width: 635px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: $color-white;
    opacity: 0.7;
    margin-bottom: 70px;
  }
  &__email-wrapper {
    position: relative;
  }
  &__email {
    padding-left: 30px;
    padding-right: 127px;
    width: 100%;
    max-width: 743px;
    min-height: 54px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(3, 10, 27, 0.5);
    border-radius: 10px;
    &:invalid {
      border: 1px solid #e61e14;
      color: rgba(230, 30, 20, 0.5);
    }
  }
  &__btn {
    position: absolute;
    right: 7px;
    top: 7px;
  }
  &__rectangle {
    position: absolute;
    width: 208px;
    height: 208px;
    background-color: $color-white;
    border-radius: 100%;
    opacity: 0.1;
  }
  .first-rect {
    top: 25px;
    left: -158px;
  }
  .second-rect {
    bottom: -135px;
    right: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    .container {
      border-radius: 10px;
    }
    &__description {
      font-size: 16px;
    }
    &__email {
      padding-right: 177px;
      min-height: 70px;
      font-size: 16px;
    }
    &__btn {
      padding: 16px 30px;
    }
  }
}

.footer {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 190px;
  }
  &__logo {
    display: block;
    cursor: pointer;
    margin-bottom: 25px;
  }
  .logo {
    max-width: 220px;
  }
  &__description {
    max-width: 262px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.7;
    margin-bottom: 25px;
  }
  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .footer__icons {
      flex-direction: row;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    li {
      a {
        font-size: 16px;
        line-height: 17px;
        opacity: 0.7;
        &:hover {
          color: $color-orange;
        }
      }
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
  &__icons {
    li {
      &:not(:last-child) {
        margin-right: 15px;
        margin-bottom: 0;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-color: $color-orange;
        border-radius: 50px;
        transition: all 0.3s;
        &:hover {
          background-color: $color-white;
          box-shadow: 0 0 10px 5px $color-orange;
          .icon {
            fill: $color-orange;
          }
        }
      }
      .icon {
        transition: all 0.3s;
        fill: $color-white;
      }
      .facebook {
        width: 6px;
        height: 12.37px;
      }
      .im {
        width: 12px;
        height: 12px;
      }
      .twitter {
        width: 14px;
        height: 14px;
      }
      .youtube {
        width: 14px;
        height: 10px;
      }
      .linkidin {
        width: 12px;
        height: 12.37px;
      }
    }
  }

  &__column-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    .container {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
    &__column {
      align-items: stretch;
      ul {
        align-items: stretch;
      }
      .footer__icons {
        flex-direction: row;
      }
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
    &__column-title {
      padding-top: 12px;
    }
  }
}
